{% extends "home/base.html" %}
{% load home_extras %}

{% block page_title %}HBase{% endblock page_title %}
{% block page_subtitle %}List of all tables{% endblock page_subtitle %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div class="list-group">
            {% for table in json %}
                <a href="/home/hbase/tables/{{ table.tableName}}" class="list-group-item">{{ table.tableName }}</a>
            {% endfor %}
        </div>
    </div>

    <div class="col-lg-12">
        <div class="panel panel-info">
            <div class="panel-heading">
                Command line
            </div>
            <div class="panel-body">
                <p>You can retrieve this information using the RESTful API:</p>
                <pre>curl {% get_settings "EXT_REST_API_URL" %}tables</pre>
            </div>
        </div>
    </div>
</div>

{% endblock content %}
