<div class="panel panel-default">
    <div class="panel-heading">
        <i class="fa fa-file-text-o fa-fw"></i> Json View
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Display
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li><a href="javascript:tree.expand()">Expand all</a>
                    </li>
                    <li><a href="javascript:tree.collapse()">Collapse all</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div id="json_wrapper"></div>
        <script type="text/javascript">
            var wrapper = document.getElementById("json_wrapper");
            var json = {{ json | safe }};
            var tree = jsonTree.create(json, json_wrapper);
        </script>
    </div>
    <!-- /.panel-body -->
</div>
