<div class="panel panel-info">
    <div class="panel-heading">
        Information
    </div>
    <div class="panel-body">
        <p>The Opta Planner algorithm uses Opta Planner software to balance equally the Regions between the Region Servers,
            according to multiple constraints (region size, write requests, read requests and VIP metrics balancing).</p>
        <p>This algorithm evaluates a huge number of possible solutions and give them a score using the scoring function.</p>
        <p>You can configure the <strong>Timeout</strong> in seconds after which the algorithm will stop seeking for solutions. The longer the more accurate but actually after some time the algorithm converges and there will be little or no difference.</p>
    </div>
</div>
